.vs/
bin/
obj/
*.user
*.suo
*.rsuser

logs/
*.log

.env
.env.*
!.env.example

!src/AplikacjaVisualData.Backend/Api/Data/
*.duckdb
*.duckdb.wal
*.duckdb.tmp

node_modules/
dist/
out/
release/
*.asar

Thumbs.db
.DS_Store
